body {
    background-color: #ddd;
}

h1 {
    padding: 2rem;
    background-color: white;
    margin: 2rem;
    max-width: 50%;
    border-radius: 20px 40px / 10px 20px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: max-width 2s;
}

h1:hover{
    max-width: 100%;
}
/* This equate to a circle */
/* p {
    height: 100px;
    width: 100px;
    border-radius: 50px;
} */

.parent {
    background-color: blue;
    height: 300px;
    width: 300px;
}

.child {
    background-color: red;
    height: 50%;
    width: 50%;
}

.parent:hover .child {
    animation: left-right 2s 3 alternate ease;
}
@keyframes left-right {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateY(100%);
    }
    66% {
        transform: translateX(100%) translateY(100%);
    }
    100% {
        transform:  translateX(100%);
    }
}